<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/book.css" %}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<center>

<h1>Books...Informations</h1>
    <table border="4">
        <thead>
        <td>book_name</td>
        <td>author</td>
        <td>pages</td>
        <td>prices</td>
                </thead>
        {% for i in data %}
        <tr>
            <td>{{i.book_name}}</td>
            <td>{{i.author}}</td>
            <td>{{i.page}}</td>
            <td>{{i.price}}</td>
            <td><a href="/update/{{i.id}}/">Edit</a></td>
            <td><a href="/delete/{{i.id}}/">Delete</a></td>

        </tr>
        {%endfor%}
        </table>
    <h3><a href="/addbook/">Add_Books</a></h3>

  </center>
</body>
</html>